<div class="sidebar" [class.collapsed]="collapsed">

  <div class="logo">
    <span *ngIf="!collapsed">Techniche</span>
    <span *ngIf="collapsed">T</span>
  </div>

  <ul>

    <li *ngFor="let menu of menus;let i = index">
      <div *ngIf="!menu.children" routerLinkActive="active">

        <span class="icon">
          {{menu.icon}}
        </span>

        <span *ngIf="!collapsed" style="font-size: 13px;">
          {{menu.title}}
        </span>

      </div>
      <div *ngIf="menu.children">

        <div class="parent" (click)="toggle(menu)">
          
          <span class="{{menu.menuicon}}">
            {{menu.icon}}
          </span>

          <span *ngIf="!collapsed" style="font-size: 13px;">
            {{menu.title}}
          </span>

        </div>

        <ul *ngIf="menu.expanded">

          <li *ngFor="let child of menu.children">
            <span  style="font-size: x-small; margin: 4px;"> >>  </span>
            <!--<a [routerLink]="child.route" routerLinkActive="active" class="submenu">-->
            <a [routerLink]="child.route" routerLinkActive="active" class="submenu">

              {{child.title}}

            </a>

          </li>

        </ul>

      </div>