.employee-card {
  margin: 10px;
  height: 135px;
  border: none;
  border-radius: 4px;
  overflow: hidden;
  background: linear-gradient(90deg, #9a4bd7, #b056e5);
  width: 310px;
  user-select: none;
  cursor: pointer;
}

.icon-section {
  background: rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;
}

.employee-icon {
  font-size: 50px;
}

.content-section {
  padding: 15px;
  color: #fff;
}

.content-section h4 {
  font-size: 13px;
  margin-bottom: 0;
  font-weight: 500;
}

.content-section h2 {
  padding-right: 20px;
  font-size: 25px;
  font-weight: 600;
}

.progress {
  height: 4px;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 0;
}

.progress-bar {
  background: #ffffff;
}
 .info-box-content {
        padding: 15px 5px;
        margin-left: 70px;
    }
    .info-box-text {
        text-transform: uppercase;
       
    }
       .card-1 {
        box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.35);
    }
     .info-box .progress {
        background: rgba(0,0,0,0.2);
        margin: 5px -4px;
        height: 2px;
    }

        .info-box .progress, .info-box .progress .progress-bar {
            border-radius: 0;
        }
        .info-box .progress .progress-bar {
        background: #fff;
    }
     .info-box .progress .progress-bar {
        background: #fff;
    }
    .bg-orange{
      background-color: #bc09ed !important;
      color: white;
      
    }
     .info-box-icon {
        border-top-left-radius: 2px;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 2px;
        display: block;
        float: left;
        height: 90px;
        width: 70px;
        text-align: center;
        font-size: 45px;
        line-height: 90px;
        background: rgba(0,0,0,0.2);
    }

        