<div class="row">
  <div class="col-xl-4">
<div class="card employee-card shadow">
  <div class="row g-0 h-100">
    
    <div class="col-3 icon-section">
      <div class="employee-icon">
        👨‍💼
      </div>
    </div>

    <div class="col-9 content-section">
      <h4>TOTAL EMPLOYEE</h4>

      <div class="progress mt-2">
        <div class="progress-bar" style="width:40%"></div>
      </div>

      <h2 class="mt-3">32</h2>
    </div>

  </div>
</div>
</div>
<div class="col-xl-4">
  <div class="card employee-card shadow">
  <div class="row g-0 h-100">
    
    <div class="col-3 icon-section">
      <div class="employee-icon">
        👨‍💼
      </div>
    </div>

    <div class="col-9 content-section">
      <h4>ON LEAVE</h4>

      <div class="progress mt-2">
        <div class="progress-bar" style="width:40%"></div>
      </div>

      <h2 class="mt-3">32</h2>
    </div>

  </div>
</div>
</div>
<div class="col-xl-4">
  <div class="card employee-card shadow">
  <div class="row g-0 h-100">
    
    <div class="col-3 icon-section">
      <div class="employee-icon">
        👨‍💼
      </div>
    </div>

    <div class="col-9 content-section">
      <h4>ON PROBATION</h4>

      <div class="progress mt-2">
        <div class="progress-bar" style="width:40%"></div>
      </div>

      <h2 class="mt-3">32</h2>
    </div>

  </div>
</div>
</div>



</div>

 