<div class="header">

  <div class="left-section">

    <button class="btn btn-primary my-btn" (click)="toggleMenu()">
      ☰
    </button>

    <h2>HRMS Dashboard</h2>

  </div>

<div class="profile-container" (click)="toggleProfileMenu()">
  <img src="./assets/user.png" alt="" class="profile-img">
  <span>{{ userName }}</span>
  <i class="bi bi-chevron-down"></i>
</div>
@if(showProfileMenu) {
  <div class="profile-menu">
    <a (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      Logout
    </a>
  </div>
}


</div>