<div class="header">

  <div class="left-section">

    <button class="btn btn-outline-info btn-sm" (click)="toggleMenu()">
      ☰
    </button>

    <h5>HRMS Dashboard</h5>

  </div>


 <div class="dropdown" (click)="toggleProfileMenu()">

      <button class="btn btn-light dropdown-toggle"
              data-bs-toggle="dropdown">

        <i class="bi bi-person-circle"></i>
        {{userName}}
      </button>

      <ul class="dropdown-menu dropdown-menu-end">

        <li>
          <a class="dropdown-item">
            Profile
          </a>
        </li>

        <li>
          <a class="dropdown-item text-danger">
            Logout
          </a>
        </li>

      </ul>

    </div>
@if(showProfileMenu) {
  <div class="profile-menu">
    <a (click)="logout()">
      <i class="bi bi-box-arrow-right"></i>
      Logout
    </a>
  </div>
}


</div>